# Chiave API Google Gemini
GEMINI_API_KEY=

# Modello Gemini da usare
GEMINI_MODEL=gemini-2.5-flash

# Database PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
SQLALCHEMY_DATABASE_URI=postgresql://user:password@db:5432/dbname

# Chiave privata per la signature delle richieste
PRIVATE_APP_KEY=

# Redis
REDIS_URL=redis://redis:6379